@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
body {
  background-color: rgba(245, 245, 220, 0.6);
}
header {
  /* position: relative; */
  width: 100%;
  height: 400px;
  background-color: rgba(63, 43, 10, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.logo {
  padding-top: 15px;
  padding-left: 40px;
}
.logo a {
  font-family: "Dancing Script";
  font-size: 45px;
  color: #fff;
}
.logo a:hover {
  color: #3f2b0a;
  transition: 0.5s;
}
nav {
  /* position: absolute; */
}
.gnb {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-top: 30px;
  padding-right: 60px;
}
.gnb li {
}
.gnb li a {
  color: #fff;
}
.gnb li:hover a {
  color: #3f2b0a;
}

.bgTxt {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.bgTxt h4 {
  font-weight: normal;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.bgTxt h1 {
  line-height: 1.6;
  letter-spacing: 10px;
}
#content {
  width: 100%;
  height: 900px;
  margin: 0 auto;
}
#content h1 {
  text-align: center;
  padding: 100px 0 50px;
  letter-spacing: 3px;
  font-size: 35px;
  color: #333;
}
table,
th,
tr,
td {
  border: 1px solid #eee;
}
table {
  max-width: 1000px;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 0;
  border-collapse: collapse;
}
table th {
  background-color: #c2ba8f;
  color: #fff;
  letter-spacing: 2px;
}
.time {
  background-color: #c2ba8f;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
.kim {
  background-color: rgba(255, 179, 39, 0.733);
  color: #fff;
  font-weight: bold;
}
.eun {
  background-color: darkkhaki;
  color: #fff;
  font-weight: bold;
}
.break {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  color: rgba(63, 43, 10, 0.7);
}
#content h3 {
  width: 1000px;
  margin: 0 auto;
  text-align: right;
  padding-top: 20px;
  font-weight: normal;
  color: crimson;
}
/* footer */
footer {
  width: 100%;
  height: 250px;
  text-align: center;
}
.btmLogo {
  font-family: "Dancing Script";
  font-size: 45px;
  color: #3f2b0a;
  padding-bottom: 20px;
}
footer p {
  font-size: 14px;
  line-height: 1.6;
}
.copy {
  padding-top: 20px;
}
